     <div class="col-md-12">
     	<div class="box box-primary">
               <div class="box-header">
          		<h3 class="box-title">My Profile</h3>
               </div>
     		<!-- /.box-body -->
     	</div>
     </div>

     <div class="col-md-3">
     	<div class="box box-primary">
               <div class="box-header">
                    <h3 class="box-title">Profile Picture</h3>
               </div>
     		<div class="box-body box-profile">
     			<div style="width:160px; height:160px;margin:0 auto;">
                         <img src="{{User.profile_pic}}" class="img-responsive">
     			</div>
     			<h3 class="profile-username text-center">Alexandar Aflick</h3>
     			<p class="text-muted text-center">Software Engineer</p>
                    <div class="col-md-offset-2 col-md-6">
                         <button class="btn btn-flat btn-sm btn-success ">Change Picture</button>
                    </div>
     		</div>
     		<!-- /.box-body -->
     	</div>
     </div>

     <div class="col-md-9">
     	<div class="box box-primary">
               <div class="box-header">
                    <h3 class="box-title">Profile Info</h3>
               </div>
     		<div class="box-body box-profile">
     			<table class="table table-bordered">
     				<tbody>
          				<tr>
          					<td class="col-md-2"><strong>First Name</strong></td>
          					<td>Alexander</td>
          				</tr>	
          				<tr>
          					<td class="col-md-2"><strong>Last Name</strong></td>
          					<td>Aflick</td>
          				</tr>
          				<tr>
          					<td class="col-md-2"><strong>Email</strong></td>
          					<td>alexander@gmail.com</td>
          				</tr>	
                              <tr>
                                   <td class="col-md-2"><strong>Contact</strong></td>
                                   <td>0900-78601</td>
                              </tr>
                              <tr>
                                   <td class="col-md-2"><strong>Address</strong></td>
                                   <td>House # 23, Block # 34, Model Town Lahore</td>
                              </tr>     
          				<tr>
          					<td class="col-md-2"><strong>About</strong></td>
          					<td>Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text for everyone from bacon lovers to Charlie Sheen fans.</td>
          				</tr>	
          			</tbody>
                    </table>
     		</div>
               <div class="box-footer">
                    <button class="btn btn-md btn-primary btn-flat pull-right">Edit Profile</button>
               </div>
     	</div>
     	<!-- /.box-body -->
     </div>
 </div>