<div class="modal-header">
	<h4 class="modal-title text-center" ng-if='!isHistory'><strong>Add Prescription</strong></h4>
	<h4 class="modal-title text-center" ng-if='isHistory'><strong>{{Data.patient.first_name}}'s History</strong></h4>
</div>
<div class="modal-body">
	<div class="row" ng-show='!isHistory'>
		<div class="col-md-3 center">
			<img ng-src="{{Data.patient.profile_pic}}" class="img-responsive img-bordered" height="158" width="158">
		</div>
		<div class="col-md-9">
			<h2>Patient Detail</h2>
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th>First Name</th>
						<td>{{Data.patient.first_name}} <button ng-click='switch()' class="btn btn-flat btn-primary btn-md pull-right"><i class="fa fa-history"></i> History</button></td>
					</tr>
					<tr>
						<th>Last Name</th>
						<td>{{Data.patient.last_name}}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{Data.patient.email}}</td>
					</tr>
					<tr>
						<th>Contact #</th>
						<td>{{Data.patient.contacts[0]}}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{Data.patient.address.address_detail}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<div class="box box-info">
				<form angular-validator-submit="addPrescription()" name='newPrescription' novalidate angular-validator>
					<div class="box-body">
						<div class="col-md-4">  
							<div class="form-group">
								<label class="control-label">Prescription</label>
								<textarea class="form-control noresize" name='prescription' ng-model='obj.prescription.detail' required validate-on='dirty' rows="3" placeholder="Enter ..."></textarea>
							</div>
						</div>
						<div class="col-md-4">  
							<div class="form-group">
								<label class="control-label">Diagnostic</label>
								<textarea class="form-control noresize" rows="3" name='diagnostic' placeholder="Enter ..."></textarea>
							</div>
						</div>
						<div class="col-md-4">  
							<div class="form-group">
								<label class="control-label">Diagnosis</label>
								<textarea class="form-control noresize" rows="3" name='diagnostic' placeholder="Enter ..."></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<button type="button" ng-click="cancelAppointment()" class="btn btn-danger pull-right">Cancel Appointment</button>
								<button type="submit" class="btn btn-success pull-right">Close Appointment</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row" ng-show='isHistory'>
		<div class="col-md-12">
			<button ng-click='switch()' class="btn btn-primary btn-flat btn-md pull-right">Back To Prescrpition  <i class="fa fa-arrow-right"></i></button>
			<br/>
			<br/>
		</div>
		<div class="col-md-12">
			<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Appointment Date</th>
					<th>Prescription</th>
					<th>Diagnosis</th>
					<th>Diagnostics</th>
				</tr>
			</thead>
			<tbody ng-if="historyData.length == 0">
				<tr>
					<td colspan="4">No History Available</td>
				</tr>
			</tbody>
			<tbody ng-if="historyData.length > 0">
				<tr ng-repeat='app in historyData'>
					<td>{{app.from}}</td>
					<td>{{app.prescription.detail}}</td>
					<td>{{app.prescription.diagnosis}}</td>
					<td>{{app.prescription.diagnostics}}</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	// $(function () {
	// 	$("#example1").DataTable();
	// 	$('#example2').DataTable({
	// 		"paging": true,
	// 		"lengthChange": false,
	// 		"searching": false,
	// 		"ordering": true,
	// 		"info": true,
	// 		"autoWidth": false
	// 	});
	// });
</script>