<div class="col-md-12">
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Search Doctor</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-2">
							<label>Specialization</label>
						</div>
						<div class="col-md-10">
							<div class="form-group">
								<select class="form-control" style="width: 100%;" ng-change="getDocs()" ng-model='queryName'>
									<option ng-repeat="spec in spec_list" value="{{spec.name}}">{{spec.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-offset-3 col-md-5" ng-if='!doc_list'>
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Search Result </h3>
				</div>
				<div class="box-body">
					<div class="col-md-offset-2 col-md-10">
						<p>No Doctor found in category {{queryName}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" ng-if='doc_list' ng-repeat='doc in doc_list'>
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Dr. {{doc.first_name}} {{doc.last_name}}</h3>
				</div>
				<div class="box-body">
					<div class="col-md-offset-3 col-md-5">
						<img ng-src="{{doc.profile_pic}}"  class="img-circle img-bordered" height="150" width="150"><br/><br/>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-default btn-flat btn-sm pull-left">View Complete Profile</button>
							</div>
							<div class="col-md-6">
								<button class="btn btn-primary btn-flat btn-sm pull-rigth" ng-click='takeAppointment($index)'>Take Appointment</button><br/><br/>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<table class="table table-striped table-hover">
							<tbody>
								<tr>
									<th>Email</th>
									<td>{{doc.email}}</td>
								</tr>
								<tr>
									<th>Specialization</th>
									<td>{{doc.spec_string}}</td>
								</tr>
								<tr>
									<th>Timing</th>
									<td>From {{doc.availability.from}} to {{doc.availability.to}}</td>
								</tr>
								<tr>
									<th>Working Days</th>
									<td>{{doc.days_string}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" ng-show='onCalendar'>
			<div class="box box-primary">
				<div class="box-header">
					<button class="btn btn-flat btn-primary pull-right" ng-click='getDocs()'>Back</button>
				</div>
				<div class="box-body no-padding">
					<div id="calendar"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="">
// $(".select2").select2();``
// $('#calendar').fullCalendar({
// 			slotDuration : '00:10',
// 			header: {
// 				left: 'prev,next today',
// 				center: 'title',
// 				right: 'month,agendaWeek,agendaDay'
// 			},
// 			buttonText: {
// 				today: 'today',
// 				month: 'month',
// 				week: 'week',
// 				day: 'day'
// 			}
// 		})
</script>