<script>
      $(function () {
        var date = new Date();
        var d = date.getDate(),
			m = date.getMonth(),
			y = date.getFullYear();
        $('#calendar').fullCalendar({
			defaultView : 'month',
        	eventClick: function(calEvent, jsEvent, view) {
        		alert('Event: ' + calEvent.title);
        		alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        		alert('View: ' + view.name);
				$(this).css('border-color', 'red');
			},
			dayClick: function(date, jsEvent, view) {
				console.log('+================View================')
				console.log(view);
				console.log('+================jsEvent================')
				console.log(jsEvent);
				console.log('+================allDay================')
				alert('Clicked on: ' + date.format());
				var myDate = date.toDate();
				console.log(myDate.toUTCString());
				alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
				alert('Current view: ' + view.name);
			},
			slotDuration : '00:10',
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			buttonText: {
				today: 'today',
				month: 'month',
				week: 'week',
				day: 'day'
			},
			editable: true,
			droppable: true,
		});
		$("#calendar").fullCalendar('render');
      });
</script>
<div class="modal-header">
	<h4 class="modal-title text-center"><strong>Take Appointment from Doctor (Name)</strong></h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-body no-padding">
					<div id="calendar"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-md" ng-click='ok()'>OK</button>
</div>
