<div class="col-md-12">
	<div class="box box-primary">
		<div class="box-body no-padding">
			<div id='calendar' class="col-md-12"></div>
		</div>
	</div>
</div>
<!-- <div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">My Appointments</h3>
		</div>
		<div class="box-body">

			<div class="form-group">
				<div class="row">
					<div class="col-md-1">
						<label class="control-label pull-right">Date:</label>
					</div>
					<div class="col-md-7">
						<div class="input-group date">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right" ng-model='searchDate' id="datepicker">
						</div>
					</div>
					<div class="col-md-4">
						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click='getAppointment(searchDate)'>Get Schedule</button>
							<button type="button" class="btn btn-default" ng-click='today()'>Today</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <div class="col-md-7">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Appointments List</h3>
		</div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Patient Name</th>
						<th>Date</th>
						<th>Time</th>
						<th>Booked</th>
						<th>Done</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Farhan</td>
						<td>23-Aug-2016</td>
						<td>6:00 PM to 6:29 PM</td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td>
							<div class="btn-group ">
								<button type="button" class="btn btn-default disabled btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger disabled btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
					<tr>
						<td>Farhan</td>
						<td>23-Aug-2016</td>
						<td>6:00 PM to 6:29 PM</td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td>
							<div class="btn-group ">
								<button type="button" class="btn btn-default disabled btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger disabled btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
					<tr>
						<td>------</td>
						<td>------</td>
						<td>------</td>
						<td><span class='glyphicon glyphicon-minus _green'></span></td>
						<td><span class='glyphicon glyphicon-minus _green'></span></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default disabled btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger disabled btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
					<tr>
						<td>Farhan</td>
						<td>23-Aug-2016</td>
						<td>6:00 PM to 6:29 PM</td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td>
							<div class="btn-group ">
								<button type="button" class="btn btn-default disabled btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger disabled btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
					<tr>
						<td>------</td>
						<td>------</td>
						<td>------</td>
						<td><span class='glyphicon glyphicon-minus _green'></span></td>
						<td><span class='glyphicon glyphicon-minus _green'></span></td>
						<td>
							<div class="btn-group ">
								<button type="button" class="btn btn-default disabled btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger disabled btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
					<tr>
						<td>Farhan</td>
						<td>23-Aug-2016</td>
						<td>6:00 PM to 6:29 PM</td>
						<td><span class='glyphicon glyphicon-ok _green'></span></td>
						<td><span class='glyphicon glyphicon-minus _green'></span></td>
						<td>
							<div class="btn-group ">
								<button type="button" class="btn btn-default btn-sm" ng-click='makePrescription(index)'>Prescription</button>
								<button type="button" class="btn btn-danger btn-sm">Cancel</button>
							</div>
						</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-5">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Latest Prescription</h3>
		</div>
		<div class="box-body">
			<div class="col-md-6">
				<p class="">
					Date : <strong>15-Aug-2016</strong>
				</p>
			</div>
			<div class="col-md-6">
				<button class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-time"></span> History</button>
			</div>
			<div class="col-md-12">
				<p>
					In the first example, a prescription needs to be written for John Smith. Mr. Smith lives at 400 E. 3rd Street, Duluth, MN 55804. Today he needs 500mg of Amoxicillin, three times a day for seven days.
				</p>
			</div>
		</div>
	</div>
</div>

<div>
</div>
<script>
	$(function () {
		$('#datepicker').datepicker({
			autoclose: true
		});
	});
</script>