<div class="col-md-12">
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Search Doctor</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-md-2">
							<label>Specialization</label>
						</div>
						<div class="col-md-4">
							<select class="form-control">
								<option>Cardiologist</option>
								<option>Neurologist</option>
								<option>Gynacologist</option>
								<option>Dermatologist</option>
								<option>Psychytrist</option>
							</select>
						</div>
						<div class="col-md-1">
							<label>Name</label>
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control">
						</div>
				    </div>
				</div>

				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
	</div>
</div>
<div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Doctors List</h3>
		</div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Specialization</th>
						<th class="text-center">About</th>
						<th class="text-center">Visiting Hours</th>
						<th class="text-center">Meeting Time</th>
						<th class="text-center">Available Days</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-center">Dr.Ahmad</td>
						<td class="text-center">Neurologist</td>
						<td class="text-center">Lorem Ipsum</td>
						<td class="text-center">5:00 PM to 12:00 PM</td>
						<td class="text-center">30 Minutes</td>
						<td class="text-center">Mon, Tue, Wed </td>
						<td class="text-center">
							<div class="btn-group">
								<button data-toggle="tooltip" title="Stats" class="btn btn-success btn-md"><span class="glyphicon glyphicon-stats"></span></button>
								<button type="button" class="btn btn-primary btn-md">View Appointments</button>
								<button data-toggle="tooltip" title="Delete Doctor" type="button" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>