<style type="text/css">
	body{
		background-color: #d2d6de;
	}
</style>
<div class="login-box">
	<div class="login-logo">
		<a href=""><b>Welcome</b></a>
	</div>
	<div class="login-box-body">
		<p class="login-box-msg">Sign in to start your session</p>
		<form novalidate name='loginForm'>
			<p class="help-block bg-danger" ng-if='loginError'>{{serverResponse}}</p>
			<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.username.$dirty && loginForm.username.$invalid }">
				<input type="text" required name='username' ng-model='userData.username' class="form-control" placeholder="Username" autofocus>
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
				<p class="help-block" ng-show='loginForm.username.$dirty && loginForm.username.$invalid'>Valid username required.</p>
			</div>
			<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.password.$dirty && loginForm.password.$invalid }">
				<input type="password" required name='password' ng-model='userData.password' class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				<p class="help-block" ng-show='loginForm.password.$dirty && loginForm.password.$invalid'>Valid password required.</p>
			</div>
			<div class="row">
				<div class="col-xs-offset-6 col-xs-6">
					<button type="submit" ng-click='login(loginForm)' class="btn btn-primary btn-flat">Sign In</button>
					<button type="button" ng-click='register()' class="btn btn-success btn-flat">Register</button>
				</div>
			</div>
		</form>
	</div>
</div>