<div class="col-sm-12">
    <form angular-validator-submit="register()" name='addNewDoc' novalidate angular-validator>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Personal Information</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                         <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <img ngf-thumbnail="profilePic || '/thumb.jpg'" class="img-responsive" ngf-size="{width: 100%, display: block, quality: 0.9}" ng-if='profilePic'>
                                    <img ngf-thumbnail="newDoctor.profile_pic" class="img-responsive" ng-if='!profilePic'>
                                    <div class="form-group">
                                      <label class="control-label">Select Picture</label>
                                      <input type="file" name='file' ngf-select ng-model='profilePic' ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />
                                      <i ng-show="addNewDoc.file.$error.maxSize">File too large {{profilePic.size / 1000000|number:1}}MB: max 20M</i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='fname'>First Name</label>
                                        <input type="text" class="form-control" validate-on="dirty" ng-model='newDoctor.first_name' name="fname" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='lname'>Last Name</label>
                                        <input type="text" ng-model='newDoctor.last_name' class="form-control" validate-on="dirty" required name='lname'>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Contact Number</label>
                                        <input type="text" ng-model='newDoctor.contacts[0]' class="form-control" data-inputmask="'mask': ['99-999-9999999', '+92 999 9999999', '0399-9999999']" data-mask validate-on="dirty" name="contact" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='DOB'>Date Of Birth</label>
                                        <input type="text" ng-model='newDoctor.dob' name="dob" class="form-control" id="DOB" validate-on="dirty" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Gender</label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" checked="checked" class="minimal" ng-model='newDoctor.gender' name="gender" ng-value="lists.gender[0]"/> Male
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-model='newDoctor.gender' name="gender" ng-value="lists.gender[1]"/> Female
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-model='newDoctor.gender' name="gender" ng-value="lists.gender[2]"/> Other
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Marital Status</label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" class="minimal" ng-change='selected(this)' ng-model='newDoctor.marital_status' name="marital" value="Single"> Single
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-change='selected(this)' ng-model='newDoctor.marital_status' name="marital" value="Married"> Married
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">Address</h3>
                    </div>
                    <div class="form-group">
                        <input type="text" name="address_detail" class="form-control" ng-model='newDoctor.address.address_detail' validate-on="dirty" placeholder="Address Detail" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="country" class="control-label">Country</label>
                                <select class="form-control " ng-model='newDoctor.address.country' validate-on="dirty" required name="country" id="country"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="state" class="control-label">State</label>
                                <select class="form-control" ng-model='newDoctor.address.state' validate-on="dirty" name="state" id="state" required></select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="city" class="control-label">City</label>
                                <select  validate-on="dirty" class="form-control" ng-model='newDoctor.address.city'  name="city" id="city" required></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Login Information</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="email" name="email" class="form-control" ng-model='newDoctor.email' placeholder="Email" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" name="username" class="form-control" ng-model='newDoctor.username' placeholder="Username" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" validator = "passwordValidator(newDoctor.password) === true" ng-model='newDoctor.password' invalid-message = "passwordValidator(newDoctor.password)" placeholder="Password" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="confirmPassword" validator = "newDoctor.password === confirm" class="form-control" ng-model='confirm' placeholder="Re-type Password" validate-on="dirty" invalid-message = "'Passwords do not match!'" required >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label>Specialization</label>
                        <div ng-dropdown-multiselect="" options="lists.spec" required name='spec' selected-model="selectedSpec" extra-settings="settings"></div>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" name="type" ng-change='changeType()' required ng-model='newDoctor.type'>
                          <option>Rented</option>
                          <option>Comissioned</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>About</label>
                      <textarea class="form-control noresize" ng-model='newDoctor.about' rows="3" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">Availability</h3>
                    </div>
                    <div class="bootstrap-timepicker">
                        <div class="form-group " ng-class="rangeError != null ? 'has-error' : 'ok'">
                            <label>From</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="from" required ng-model='newDoctor.availability.from'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bootstrap-timepicker">
                        <div class="form-group" ng-class="rangeError != null ? 'has-error' : 'ok'">
                            <label>To</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="to" required ng-model='newDoctor.availability.to'>
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if='rangeError'>
                        <label class="control-label bg-danger">{{rangeError}}</label>
                    </div>
                    <div class="form-group">
                        <label>Slot</label>
                        <select name="slot" class="form-control" ng-model='newDoctor.availability.slot' required>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                            <option>60</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h4>Days</h4>
                        <ul class="list-unstyled">
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[0]' ng-change="addDay('Mon')">Monday</li>
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[1]' ng-change="addDay('Tue')">Tuesday</li>
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[2]' ng-change="addDay('Wed')">Wednesday</li>
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[3]' ng-change="addDay('Thur')">Thursday</li>
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[4]' ng-change="addDay('Fri')">Friday</li>
                            <li class="col-md-4">  <input type="checkbox" ng-model='days[5]' ng-change="addDay('Sat')">Saturday</li>
                            <li class="col-md-12"> <input type="checkbox" ng-model='days[6]' ng-change="addDay('Sun')">Sunday</li>
                        </ul>
                    </div>
                        <div class="form-group" ng-show="newDoctor.type === 'Rented' " >
                            <label class="control-label">Due Date</label>
                            <input type="text" ng-model='newDoctor.due_date' name="due_date" class="form-control" id="datepicker" validate-on="dirty">
                        </div><br/><br/>
                    <div class="form-group pull-right">
                        <button type="reset" class="btn btn-md btn-default btn-flat">Reset</button>
                        <button type="submit" class="btn btn-md btn-success btn-flat">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="./app/sharedComponents/scripts/cityAndState.js"></script>
<script type="text/javascript">
    $("[data-mask]").inputmask();
    populateCountries("country", "state","city");
    $(".select2").select2();
    $(function() {
        $('#datepicker').datepicker({
            autoclose: true
        });
    });
    $(function() {
        $('#DOB').datepicker({
            autoclose: true
        });
    });
    $(".timepicker").timepicker({
        showInputs: false
    });
</script>
