<div class="modal-header">
	<h4 class="modal-title text-center"><strong>{{obj.title}}</strong></h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12" ng-if="!isArray">
			<label class="control-label">{{obj.errmsg}}</label>
		</div>
		<div class="col-md-12" ng-if="isArray">
			<div class="form-group" ng-repeat='msg in obj.errmsg'>
				<label class="control-label">{{msg}}</label>
			</div>
		</div>

	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-flat btn-primary btn-lg" ng-click='ok()'>OK</button>
</div>
