<div class="col-md-6 col-md-offset-3">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Specialization View</h3>
		</div>
		<div class="box-body">
			<button class="btn btn-primary btn-flat pull-right" ng-click='addSpec()'>Add Specialization</button><br/><br/>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if='spec_list.length == 0'>
					<tr>
						<td colspan="2">No Specialization Found</td>
					</tr>
				</tbody>
				<tbody ng-if='spec_list.length > 0'>
					<tr ng-repeat='spec in spec_list'>
						<td>{{spec.name}}</td>
						<td>
							<div class="btn-group">
								<button type="button" ng-click='updateSpec($index)' class="btn btn-primary btn-md">Update</button>
								<button type="button" ng-click='removeSpec($index)' class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span> Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>