<div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">My Appointments</h3>
		</div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Doctor Name</th>
						<th>Date</th>
						<th>Time</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ahmad</td>
						<td>21-Aug-2016</td>
						<td>5:30 PM to 6:00 PM</td>
						<td><button class="btn btn-md btn-danger">Cancel</button></td>
					</tr>
					<tr>
						<td>Ahmad</td>
						<td>21-Aug-2016</td>
						<td>5:30 PM to 6:00 PM</td>
						<td><button class="btn btn-md btn-danger">Cancel</button></td>
					</tr>
					<tr>
						<td>Ahmad</td>
						<td>21-Aug-2016</td>
						<td>5:30 PM to 6:00 PM</td>
						<td><button class="btn btn-md btn-danger">Cancel</button></td>
					</tr>
					<tr>
						<td>Ahmad</td>
						<td>21-Aug-2016</td>
						<td>5:30 PM to 6:00 PM</td>
						<td><button class="btn btn-md btn-danger">Cancel</button></td>
					</tr>
					<tr>
						<td>Ahmad</td>
						<td>21-Aug-2016</td>
						<td>5:30 PM to 6:00 PM</td>
						<td><button class="btn btn-md btn-danger">Cancel</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>