<div class="col-md-12">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Patient History</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table id="example1" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Doctor Name</th>
						<th>Appointment Date</th>
						<th>Status</th>
						<th>Prescription</th>
						<th>Diagnosis</th>
						<th>Diagnostic</th>
					</tr>
				</thead>
				<tbody ng-show="!noData">
					<tr ng-repeat="app in historyObj">
						<td>Dr. {{app.doctor.first_name }}</td>
						<td>{{app.time.from | date:'MM/dd/yyyy @ h:mma'}}</td>
						<td ng-show="app.isFulfilled">Done</td>
						<td ng-show="app.isCanceled">Canceled</td>
						<td>{{app.prescription.detail}}</td>
						<td>{{app.prescription.diagnosis}}</td>
						<td>{{app.prescription.diagnostic}}</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.box-body -->
	</div>
</div>