<div class="modal-header">
	<h4 class="modal-title text-center"><strong>{{obj.title}}</strong></h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<label class="control-label">{{obj.description}}</label>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-flat btn-danger btn-md" ng-click='yes()'>Yes</button>
	<button type="button" class="btn btn-flat btn-default btn-md" ng-click='no()'>No</button>
</div>
