<style type="text/css">
    body{
        background-color: #d2d6de;
    }
</style>
<div class="col-sm-12">
    <div class="col-md-offset-4 col-md-8">
        <h1>Welcome</h1>
        <h3><strong>Register</strong> Here</h3>
    </div>
</div>
<div class="col-sm-12">
    <form angular-validator-submit="register()" name='newPatient' novalidate angular-validator>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Personal Information</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img ngf-thumbnail="profilePic || '/thumb.jpg'" class="img-responsive" ngf-size="{width: 100%, display: block, quality: 0.9}" ng-if='profilePic'>
                            <img ngf-thumbnail="userData.profile_pic" class="img-responsive" ng-if='!profilePic'>
                            <div class="form-group">
                                <label class="control-label">Select Picture</label>
                                <input type="file" name='file' ngf-select ng-model='profilePic' ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />
                                <i ng-show="newPatient.file.$error.maxSize">File too large {{profilePic.size / 1000000|number:1}}MB: max 20M</i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='fname'>First Name</label>
                                        <input type="text" class="form-control" validate-on="dirty" ng-model='userData.first_name' name="fname" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='lname'>Last Name</label>
                                        <input type="text" ng-model='userData.last_name' class="form-control" validate-on="dirty" required name='lname'>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Contact Number</label>
                                        <input type="text" ng-model='userData.contacts[0]' class="form-control" data-inputmask="'mask': ['99-999-9999999', '+92 999 9999999', '0399-9999999']" data-mask validate-on="dirty" name="contact" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Date Of Birth</label>
                                        <input type="text" ng-model='userData.dob' name="dob" class="form-control pull-right" id="datepicker" validate-on="dirty" required>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Gender</label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" class="minimal" ng-model='userData.gender' name="gender" ng-value="lists.gender[0]"/> Male
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-model='userData.gender' name="gender" ng-value="lists.gender[1]"/> Female
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-model='userData.gender' name="gender" ng-value="lists.gender[2]"/> Other
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label" for='contact'>Marital Status</label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" class="minimal" ng-change='selected(this)' ng-model='userData.marital_status' name="marital" value="Single"> Single
                                            </li>
                                            <li>
                                                <input type="radio" class="minimal" ng-change='selected(this)' ng-model='userData.marital_status' name="marital" value="Married"> Married
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">Address</h3>
                    </div>
                    <div class="form-group">
                        <input type="text" name="address_detail" class="form-control" ng-model='userData.address.address_detail' validate-on="dirty" placeholder="Address Detail" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="country" class="control-label">Country</label>
                                <select class="form-control" ng-model='userData.address.country' validate-on="dirty" required name="country" id="country"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="state" class="control-label">State</label>
                                <select class="form-control" ng-model='userData.address.state' validate-on="dirty" name="state" id="state" required></select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="city" class="control-label">City</label>
                                <select  validate-on="dirty" class="form-control" ng-model='userData.address.city'  name="city" id="city" required></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Login Information</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="email" name="email" class="form-control" ng-model='userData.email' placeholder="Email" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" name="username" class="form-control" ng-model='userData.username' placeholder="Username" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" validator = "passwordValidator(userData.password) === true" invalid-message = "passwordValidator(userData.password)" name="password" class="form-control" ng-model='userData.password' placeholder="Password" validate-on="dirty" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="confirmPassword" validator = "userData.password === confirm" class="form-control" ng-model='confirm' placeholder="Re-type Password" validate-on="dirty" invalid-message = "'Passwords do not match!'" required >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group pull-right">
                        <button type="reset" class="btn btn-md btn-default btn-flat">Reset</button>
                        <button type="submit" class="btn btn-md btn-success btn-flat">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="./app/sharedComponents/scripts/cityAndState.js"></script>
<script type="text/javascript">
    $("[data-mask]").inputmask();
    populateCountries("country", "state","city");
    $(function () {
        $('#datepicker').datepicker({
            autoclose: true
        });
    });
    // $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
    //  checkboxClass: 'icheckbox_minimal-blue',
    //  radioClass: 'iradio_minimal-blue'
    // });
</script>

                    