<div class="modal-header">
	<h4 class="modal-title text-center"><strong>Add Specialization</strong></h4>
</div>
<form angular-validator-submit="addSpec()" name='newSpecialization' novalidate angular-validator>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label" for='specName'>Specialization Name</label>
					<input type="text" name="specName" class="form-control" ng-model='name' required validate-on="dirty">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-md">OK</button>
		<button type="button" class="btn btn-primary btn-md" ng-click='cancel()'>Cancel</button>
	</div>
</form>
