<div class="modal-header">
	<h4 class="modal-title text-center"><strong>{{obj.title}}</strong></h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<label class="control-label">{{obj.description}}</label>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if='obj.error'>
	<button type="submit" class="btn btn-flat btn-danger btn-md" ng-click='ok()'>OK</button>
</div>
<div class="modal-footer" ng-if='!obj.error'>
	<button type="submit" class="btn btn-flat btn-success btn-md" ng-click='yes()'>Yes</button>
	<button type="button" class="btn btn-flat btn-default btn-md" ng-click='cancel()'>No</button>
</div>
