<div class="col-md-12">
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Search Patient</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<div class="col-sm-6">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Patient First Name">
						</div>
						<div class="col-sm-6">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Patient User Name">
						</div>
					</div>

				</div>

				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
	</div>
</div>

<div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Patients</h3>
		</div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th style="width: 85px;">First Name</th>
						<th style="width: 85px;">Last Name</th>
						<th style="width: 85px;">User Name</th>
						<th style="width: 85px;">Address</th>
						<th style="width: 131px;">Appointment Date</th>
						<th style="width: 133px;">Appointment Time</th>
						<th>Prescription</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Taimoor</td>
						<td>Ali</td>
						<td>Taimoor44</td>
						<td>House #10, Street # 30</td>
						<td>29,Feb 2016</td>
						<td>5:00 PM to 12:00 PM</td>
						<td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLoremLorem ipsumLorem ipsumLoremLorem</td>
					</tr>

					<tr>
						<td>Taimoor</td>
						<td>Ali</td>
						<td>Taimoor44</td>
						<td>House #10, Street # 30</td>
						<td>29,Feb 2016</td>
						<td>5:00 PM to 12:00 PM</td>
						<td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLoremLorem ipsumLorem ipsumLoremLorem</td>
					</tr>

					<tr>
						<td>Taimoor</td>
						<td>Ali</td>
						<td>Taimoor44</td>
						<td>House #10, Street # 30</td>
						<td>29,Feb 2016</td>
						<td>5:00 PM to 12:00 PM</td>
						<td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLoremLorem ipsumLorem ipsumLoremLorem</td>
					</tr>

					<tr>
						<td>Taimoor</td>
						<td>Ali</td>
						<td>Taimoor44</td>
						<td>House #10, Street # 30</td>
						<td>29,Feb 2016</td>
						<td>5:00 PM to 12:00 PM</td>
						<td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsumLoremLorem ipsumLorem ipsumLoremLorem</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>